* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(61, 89, 168);
}

.overlap {
    padding-top: 46px;
    padding-left: 24em;
    height: 180px;
    width: 1100em;
    margin-right: 2000em;
    margin-left: 10em;
}

img{
    margin-left: -32em;
    background-size: cover;
    height: 8em;
    width: 8em;
}

h1 {
    background-color: rgb(20, 57, 163);
    color: white;
    font-size: 5rem; /* Adjust the font size for smaller screens */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 2em;
}

.Heading {
    background-color: rgb(20, 57, 163);
    height: 150px;
    border-width: 2px;
    border-style: double;
    border-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    padding-left: 32em;

}

hr {
    width: 100%;
    height: 5px;
    color: black;
    background-color: black;
}

.navbar {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(61, 89, 168);
    font-size: 1.5em; /* Adjust the font size for smaller screens */
}

nav {
    background-color: rgb(61, 89, 168);
    overflow: hidden;
    margin-top: 6em;
}

nav a {
    float: left;
    display: block;
    background-color: rgb(61, 89, 168);
    color: white;
    font-size: 1.2em; /* Adjust the font size for smaller screens */
    text-align: center;
    margin-left: -1px;
    margin-right: 1em; /* Adjust the margin for smaller screens */
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.bg-col{
    background-color: rgb(56, 76, 178);
    filter: blur(2px);
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

article {
    display: flex;
    justify-content: center;
    border-radius: 20%;
}

.art {
    margin-left: 30px;
}

.art2 {
    margin-left: 30px;
}



#cen{
    padding-left: 12em;
}

.section1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3em;
    color: white;
    padding-top: 2em;
    padding-left: 1em;
    width: 25em;
    margin-left: 10rem;
    list-style-type: none;
}



#cen2{
    margin-left: 4em;
}

.section2{
    color: white;
    width: 18em;
    margin-left: 80em;
    margin-top: -55em;
}


.content{
    margin-left: em;
}


.Foot {
    height: 160px;
    margin-top: 44rem;
    display: flex;
    justify-content: center;
    padding-bottom: 5em;
    background-color: rgb(20, 57, 163);
}

p#ft{
    padding-top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}


.fa-copyright {
    margin-right: 10px;
    margin-top: -0.1em;
}

p {
    color: white;
    padding-left: 1em;
}


.side1{
    background-color: rgb(20, 57, 163);
    height: 114em;
    width: 8em;
    position: absolute;
    overflow: auto;
}

.side2{
    display: flexbox;
    justify-content: flex-end;
    background-color:rgb(20, 57, 163) ;
    height: 114em;
    width: 8em;
    margin-top: -61em;
    margin-left: 112em;
    position: absolute;
}


@media only screen and (max-width: 1080px) {
    /* Adjust styles for screens with a maximum width of 768 pixels */
    h1 {
        font-size: 3em;
    }

    .navbar {
        font-size: 1em;
    }


    .art{
        margin-left: 5em;
    }

    #png{
        margin-left: 1em;
    }

    #cen{
        margin-left: -10em;
    }

    #png2{
        margin-left: 1em;
    }

    #cen2{
        margin-left: 0em;
    }

    .section1{
        text-align: center;
        padding-left: 0em;
        margin: 0em;
        font-size: 0.9em;
        width: 23em;
    }
    .section2 {
        padding-left: 2em;
        padding-top: 5em;
        margin: 0 0 0 0em;
        font-size: 0.9em;
        width: 23em;
    }

    footer{
        margin-top: -20em;
        width: 26em;
    }

}

@media screen and (max-width: 1080px) {
    .side1, .side2{
        display:none;
    }
    
    .logo{
        display: none;
    }

    .Heading{
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0 0 0 0;
    }
    h1{
        font-size: 3em;
        color: white;
    }

    hr{
        width: 26em;
    }
    .overlap{
        height: 10em;
        padding-left:5em;
        margin-top: -2em;
        margin-left: -1em;
    }

    .navbar{
        height: 22em;
        margin-bottom: -2em;
    }

    #home{
    margin-left: 4em;
    margin-bottom: 3em;
    }

    table{
        margin-left: -2em;
    }

    #See{
        text-align: center;
        margin-left: -10em;
    }
}

/* RESEARCH PAGE*/
#img1{
    background-image: url("Research1.png");
    background-size:contain;
    margin-left: 5em;
    margin-top: -1em;
    height: 10em;
    width: 11em;
    size-adjust: 2em;
}

li{
    font-size: 1em;
    text-align:center;
}

#main{
    font-size: 2em;
}

caption{
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

table{
    width: 25em;
    border: 1px double white;
}

tr{
    font-size: 1.5em;
    text-align: center;
}

th{
    border: 1px dashed white;
}

#See{
    font-size: 1.3em;
    color: white;
    margin-left: 10em;
    text-decoration: none;
    border: 1px dotted;
}

#home{
    color: white;
    margin-right: 2em;
    margin-top: 6em;
}
